//color
.text-blue
    color #007bc1

.text-dark-blue
    color #004a75

.text-orange
    color #ff8000

.text-dark-orange
    color #cc6600

.text-smoke-grey
    color #e5e5e5

//background
.bg-blue
    background #007bc1

.bg-dark-blue
    background #004a75

.bg-orange
    background #ff8000

.bg-dark-orange
    background #cc6600

.bg-smoke-grey
    background #e5e5e5
